.PropaneContainer {
    background-color: #8cb27f;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    min-height: 300px;
    /* margin: -35px 0 10px 10px; */
    color: white; 
}
  
.propane-header h1 {
    font-size: 24px;
    margin-bottom: 20px;
}
.propane-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.propane-form h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.propane-form input[type="number"] {
    width: 90%;
    padding: 4% 5% 4% 5%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.propane-form button {
    background-color: #55725d; 
    color: white; 
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}
  
.propane-form button:hover {
    background-color: #405a4e; 
}
  
.propane-results {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    background-color: #405A4E;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    color: #fff; 
}
  
.propane-results h3 {
    font-size: 20px;
    margin-top: 1rem;
}
  
.propane-results p {
    font-size: 18px;
    color: #fff;
    font-weight: bold;
} 
  
@media (max-width: 768px) {
    .PropaneContainer {
        margin: 20px auto; /* Center the container horizontally on smaller screens */
    }

    .propane-form {
        padding: 0 20px; /* Add some horizontal padding for better spacing */
    }
}
  