* {
  margin: 0;
  padding: 0;
}

.App {
  background-color: antiquewhite;
}

header{
  background-color: #405a4e;  
}

/* .topbar {
  margin-bottom: 12vh;
} */

.map, .rank{
  background-color: #3d5649;
}

.map-container {
  display: flex;
}

.calc-section {
  /* background-color: rebeccapurple; */
  display: flex;
  justify-content: space-between;
}

.calc {
  /* padding: 5rem 5rem .5rem 5rem; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 60vh;
}

.calc h1 {
  /* font-size: 72px; */
  margin-bottom: 2rem;
}

.calc-disclaimer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: lightslategray;
  margin-top: auto;
  font-size: 1.2rem;
  /* line-height: 5px; */
}
html {
  scroll-behavior: smooth;
}

.calc{
  height: 90vh;
}


.calc-result {
  color: #405a4e;
  /* margin-top: 2rem; */
}
.row{
  /* max-width: 10vw; */
  width: 100%;
  margin: 0;
  padding: 0;
}

.map-n-rank {
  background-color: #3d5649;
  height: 90vh;
}